* {
  margin: 0;
  padding: 0;
}

body, html, #root {
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, #ffffff 0%, #E9ECEF 33%, #A1ACBA 90%, #A1ACBA 100%);
	/* align-items: center;
	justify-content: center; */
}